* {
    padding: 0;
}

body {
    font-family: monospace, sans-serif;
}

#output {
    list-style: none;
}

.styled {
    font-weight: bold;
    font-size: 24px;
    background: grey;
    padding: .2rem;
    margin-bottom: .2rem;
    width: 80%;
    color: #1c1c1c;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    padding: .2rem;
    font-family: inherit;
}

input:focus {
    outline: 1px solid lightblue;
}

button {
    cursor: pointer;
    background: #1c1c1c;
    color: white;
    border: none;
    padding: .32rem .5rem;
}

button:hover {
    opacity: .5;
}

.fall {
    transform: translateX(-10rem);
    opacity: 0;
}

li {
    display: flex;
    transition: all 250ms ease;
    flex: 1
}

.doneBtn {
    color: green;
    order: 1;
    margin-left: auto;
    margin-right: .2rem;
}

.closeBtn {
    order: 2;
}

.done {
    text-decoration: darkgrey line-through;
}

.counter {
    background: #1c1c1c;
    color: white;
    margin-left: auto;
    width: 30%;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .8;
    text-align: center;
}

span {
    color: green;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid black;
}

select {
    color: #1c1c1c;
    opacity: .5;
    cursor: pointer;
    width: 10rem;
    padding: .5rem;
    font-family: inherit;
}

.selectDiv {
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    width: 10rem;
}

.selectDiv::after {
    content: "\25BC";
    color: black;
    padding: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    transition: all 100ms ease-in;
}

.selectDiv:hover::after {
    background: #1c1c1c;
    color: white;
}
